Repository cloudx-labs/cuarentrivia, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, tools, docs, apps/www, apps/functions, apps/db, apps/storage

.github/labeler.yml:

repo:
  - '*'
  - .github/*
  - .github/**/*
  - .husky/*
  - .husky/**/*

tools:
  - tools/**/*

docs:
  - docs/*
  - docs/**/*
  - '*/*.md'
  - '**/*.md'

apps/www:
  - apps/www/*
  - apps/www/**/*

apps/functions:
  - apps/functions/*
  - apps/functions/**/*

apps/db:
  - apps/db/*
  - apps/db/**/*

apps/storage:
  - apps/storage/*
  - apps/storage/**/*

chore: update lockfile (#60)
  package-lock.json
Labels: repo

chore: update lockfile
  package-lock.json
Labels: repo

chore: migrate to nx 14
  .github/PULL_REQUEST_TEMPLATE.md
  apps/functions/jest.config.ts
  apps/functions/project.json
  apps/functions/tsconfig.app.json
  apps/functions/tsconfig.spec.json
  apps/www/jest.config.ts
  apps/www/project.json
  apps/www/tsconfig.app.json
  apps/www/tsconfig.spec.json
  jest.config.ts
  jest.preset.js
  migrations.json
  nx.json
  package-lock.json
  package.json
Labels: repo, docs, apps/www, apps/functions

chore: fix PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: repo, docs

style: format
  nx.json
Labels: repo

chore: migrate to latest material ui and other deps
  apps/www/src/app/app.spec.tsx
  apps/www/src/app/create/created-trivia-modal.tsx
  apps/www/src/app/create/index.tsx
  apps/www/src/app/create/question-form/index.tsx
  apps/www/src/app/play/InProgress/index.tsx
  apps/www/src/app/play/host-in-progress.tsx
  apps/www/src/app/play/host-question-result.tsx
  apps/www/src/app/play/hostCompleted/index.tsx
  apps/www/src/app/play/joining/index.tsx
  apps/www/src/app/play/timer.tsx
  apps/www/src/app/shared/build-material-theme.ts
  apps/www/src/app/shared/copy-url-button/index.tsx
  apps/www/src/app/trivias/index.tsx
  apps/www/src/main.tsx
Labels: apps/www

chore: migrate to nx 14 (#117)
  .github/PULL_REQUEST_TEMPLATE.md
  apps/functions/jest.config.ts
  apps/functions/project.json
  apps/functions/tsconfig.app.json
  apps/functions/tsconfig.spec.json
  apps/www/jest.config.ts
  apps/www/project.json
  apps/www/src/app/app.spec.tsx
  apps/www/src/app/create/created-trivia-modal.tsx
  apps/www/src/app/create/index.tsx
  apps/www/src/app/create/question-form/index.tsx
  apps/www/src/app/play/InProgress/index.tsx
  apps/www/src/app/play/host-in-progress.tsx
  apps/www/src/app/play/host-question-result.tsx
  apps/www/src/app/play/hostCompleted/index.tsx
  apps/www/src/app/play/joining/index.tsx
  apps/www/src/app/play/timer.tsx
  apps/www/src/app/shared/build-material-theme.ts
  apps/www/src/app/shared/copy-url-button/index.tsx
  apps/www/src/app/trivias/index.tsx
  apps/www/src/main.tsx
  apps/www/tsconfig.app.json
  apps/www/tsconfig.spec.json
  jest.config.ts
  jest.preset.js
  migrations.json
  nx.json
  package-lock.json
  package.json
Labels: repo, docs, apps/www, apps/functions

Fix(play&host) Attachment display & creation issue
  README.md
  apps/www/src/app/create/index.tsx
  apps/www/src/app/create/question-form/index.tsx
  apps/www/src/app/play/Attachment/index.tsx
  apps/www/src/app/play/InProgress/index.scss
  apps/www/src/app/play/host-in-progress.scss
Labels: repo, docs, apps/www

style code
  apps/www/src/app/create/question-form/index.tsx
  apps/www/src/app/play/InProgress/index.scss
  apps/www/src/app/play/host-in-progress.scss
Labels: apps/www

Fix(play): fixing friendly name generation
  apps/www/src/app/shared/generate-friendly-name.ts
Labels: apps/www

Style fix
  apps/www/src/app/shared/generate-friendly-name.ts
Labels: apps/www

Fix(app): Navigate to trivias list after create
  apps/www/src/app/create/index.tsx
Labels: apps/www

Chore(app): prevent running lint & prettier without adding result to commit
  .husky/pre-commit
  package-lock.json
  package.json
Labels: repo

chore: remove unused imports
  apps/www/src/app/play/joining/index.tsx
  apps/www/src/app/play/play-trivia.tsx
Labels: apps/www

Fix(play&host): Attachment display & creation issue (#123)
  README.md
  apps/www/src/app/create/index.tsx
  apps/www/src/app/create/question-form/index.tsx
  apps/www/src/app/play/Attachment/index.tsx
  apps/www/src/app/play/InProgress/index.scss
  apps/www/src/app/play/host-in-progress.scss
  apps/www/src/app/play/joining/index.tsx
  apps/www/src/app/play/play-trivia.tsx
Labels: repo, docs, apps/www

Fix(play): fixing friendly name generation (#124)
  apps/www/src/app/shared/generate-friendly-name.ts
Labels: apps/www

Fix(app): Navigate to trivias list after create (#125)
  apps/www/src/app/create/index.tsx
Labels: apps/www

Chore(app): prevent running lint & prettier without adding result to commit (#126)
  .husky/pre-commit
  package-lock.json
  package.json
Labels: repo

add new loading
  apps/www/src/app/play/QuestionResult/index.scss
  apps/www/src/app/play/QuestionResult/index.tsx
  apps/www/src/assets/icons/alien.png
  apps/www/src/assets/icons/cigarette.jpeg
  apps/www/src/assets/icons/cigarette.png
  apps/www/src/assets/images/loading-brenda.gif
Labels: apps/www

fix lint
  apps/www/src/app/play/joining/index.tsx
Labels: apps/www

add new loading (#128)
  apps/www/src/app/play/QuestionResult/index.scss
  apps/www/src/app/play/QuestionResult/index.tsx
  apps/www/src/app/play/joining/index.tsx
  apps/www/src/assets/icons/alien.png
  apps/www/src/assets/icons/cigarette.jpeg
  apps/www/src/assets/icons/cigarette.png
  apps/www/src/assets/images/loading-brenda.gif
Labels: apps/www

chore: try deploy
  apps/www/src/index.html
Labels: apps/www

chore(deploy): remove e2e
  .github/workflows/deploy.yml
Labels: repo

chore: update version
  apps/www/src/index.html
Labels: apps/www

fix: use npx to deploy
  .github/workflows/deploy.yml
  apps/www/src/index.html
Labels: repo, apps/www

fix: use npx to deploy
  .github/workflows/deploy.yml
  apps/www/src/index.html
Labels: repo, apps/www

feat: test deploys
  .github/workflows/deploy.yml
  .github/workflows/pr.yml
  apps/db/project.json
  apps/functions/project.json
  apps/storage/project.json
  apps/www/project.json
  package-lock.json
Labels: repo, apps/www, apps/functions, apps/db, apps/storage

chore: make prod rely on dev
  .github/workflows/deploy.yml
Labels: repo

Fix answer map funciton to keep previous responses
  apps/www/src/app/shared/trivias.service.ts
Labels: apps/www

Testing pr action
  .github/workflows/deploy.yml
  .github/workflows/pr.yml
Labels: repo

Reverting node v
  .github/workflows/pr.yml
Labels: repo

changing version
  .github/workflows/pr.yml
  apps/www/src/index.html
Labels: repo, apps/www

fix: answer map function to keep previous responses (#130)
  .github/workflows/deploy.yml
  .github/workflows/pr.yml
  apps/www/src/app/shared/trivias.service.ts
  apps/www/src/index.html
Labels: repo, apps/www

chore: use legacy deps
  .github/workflows/deploy.yml
  apps/www/src/index.html
Labels: repo, apps/www

adds wildcards interfaces and services
  apps/www/src/app/shared/build-ranking.ts
  apps/www/src/app/shared/common.ts
  apps/www/src/app/shared/question.ts
  apps/www/src/app/shared/trivia.ts
  apps/www/src/app/shared/trivias.service.ts
  apps/www/src/app/shared/use-trivia.hook.ts
Labels: apps/www

adds wildcards layout, buttons, hooks and styles
  apps/www/src/app/create/index.tsx
  apps/www/src/app/play/InProgress/index.scss
  apps/www/src/app/play/InProgress/index.tsx
  apps/www/src/app/play/InProgress/wildcardButtons.tsx
  apps/www/src/app/shared/use-wildcards.ts
Labels: apps/www

[feat] wildcards (#183)
  apps/www/src/app/create/index.tsx
  apps/www/src/app/play/InProgress/index.scss
  apps/www/src/app/play/InProgress/index.tsx
  apps/www/src/app/play/InProgress/wildcardButtons.tsx
  apps/www/src/app/shared/build-ranking.ts
  apps/www/src/app/shared/common.ts
  apps/www/src/app/shared/question.ts
  apps/www/src/app/shared/trivia.ts
  apps/www/src/app/shared/trivias.service.ts
  apps/www/src/app/shared/use-trivia.hook.ts
  apps/www/src/app/shared/use-wildcards.ts
Labels: apps/www

docs: add issue templates
  .github/ISSUE_TEMPLATE/epic.md
  .github/ISSUE_TEMPLATE/spike.md
  .github/ISSUE_TEMPLATE/tech-debt.md
  .github/ISSUE_TEMPLATE/user-story.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: repo, docs

docs: add issue templates (#195)
  .github/ISSUE_TEMPLATE/epic.md
  .github/ISSUE_TEMPLATE/spike.md
  .github/ISSUE_TEMPLATE/tech-debt.md
  .github/ISSUE_TEMPLATE/user-story.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: repo, docs
